### OSX ###
.DS_Store
client/app/.DS_Store
client/.DS_Store
server/.DS_Store
DS_Store


### Node ###
node_modules

### NPM ###
npm-debug.log

### Bower ###

### API keys ###
server/database/config.js
.env
