<div>
  <div>
    <h3>ADD A WISHLIST!</h3>
      <div class='row'>
        <div class="col-lg-6">
          <div class="input-group">
            <form name='wishlist'>
              <input
                type='text',
                name='wishlist',
                ng-model='wishlistName',
                placeholder="e.g.) Birthday, Christmas",
                class="form-control",
              />
            </form>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default" ng-click="addList()">Add</button>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div name="wishlist" ng-repeat="wishlist in data.wishlists" class='well'>
      <div ng-click="getAllItems(wishlist); expand = !expand"><strong>{{wishlist.name}}</strong></div>
      <button type='submit' ng-click='renaming = !renaming'>Edit</button>
      <span class="glyphicons glyphicons-pencil" ng-click='renaming = !renaming'></span>
      <button type="button" ng-click='deleteList(wishlist)'/> X </button>
        <div ng-show='renaming'>
          <form name='rename'>
            <input
              type='text',
              name='rename',
              ng-model='renameList'
            />
            <button type="submit" ng-click="editListName(renameList, wishlist)">Submit</button>
          </form>
        </div>
      <div ng-show="expand">
        <div>
          <form name='item' ng-submit="addItem(itemName, wishlist)">
            <input
              type='text',
              name='item',
              ng-model='itemName',
            />
            <button type="submit">Add</button>
          </form>
          <div ng-repeat="item in data.items[wishlist.id]">
            {{item.name}}
            <button type='submit' ng-click='itemRenaming = !itemRenaming'>Edit</button>
              <div ng-show='itemRenaming'>
                <form name='renameItem'>
                  <input
                    type='text',
                    name='renameItem',
                    ng-model='newItemName'
                  />
                  <button type="submit" ng-click="editItem(newItemName, item.id, wishlist)">Submit</button>
                </form>
              </div>
            <button type="button" ng-click='deleteItem(wishlist, item.id)'/> X </button>
          </div>
        </div>
      </div>
    </div>
</div>
