<div>
  <div>
    <h3>ADD A WISHLIST!</h3>
    <form name='wishlist' ng-submit="add()">
      <input
        type='text',
        name='wishlist',
        ng-model='wishlistName',
        placeholder="Eg.) Birthday, Christmas",
      />
      <button type="submit">Add</button>
    </form>
  </div>

  <div>
    <ul ng-repeat="wishlist in data.wishlists">
      <li ng-click="show(wishlist); expand = !expand"><strong>{{wishlist.name}}</strong></li>

<!-- Edit list name button -->
      <button type='submit' ng-click='renaming = !renaming'>Edit</button>
        <div ng-show='renaming'>
          <form name='rename'>
            <input
              type='text',
              name='rename',
              ng-model='renameList'
            />
            <button type="submit" ng-click="editListName(renameList, wishlist)">Submit</button>
          </form>
        </div>

      <li ng-show="expand">
        <ul>
          <form name='item' ng-submit="addItem(itemName, wishlist)">
            <input
              type='text',
              name='item',
              ng-model='itemName',
            />
            <button type="submit">Add</button>
          </form>
          <li ng-repeat="item in data.items[wishlist.id]">{{item.name}}</li>
        </ul>
      </li>
    </ul>
<div>
